@import 'sencha-touch/cupertino';
@import 'sencha-touch/cupertino/all';
$background-color: #fff !default;
$primary-text-color: $ios7-blue !default;
$secondary-text-color: #000 !default;

@import 'shared';

#mainNestedList {
	border-right: 1px solid #ccc;
}

.charttoolbar {
	.x-button {
		border: 1px solid $ios7-blue;
		background-color: white;
	}
}

@include icon('user');

@include icon('cardIcon', '|');
@include icon('alertIcon', '!');
@include icon('listIcon', 'l');
@include icon('helpIcon', '?');

@import 'stylesheets/accordionlist';
@include accordionlist;

.PL-view {
    .x-accordion-list-header {
        background-color: #3498db;
        border-top: 1px solid #7f8c8d;
        color: #fff;

        .down {
            border-top-color: #fff;
        }

        .right {
            border-left-color: #fff;
        }
    }
}

.components-view {
    .accordion-list-item {
        background: #ecf0f1;
        padding-top: .6em;
        border-bottom: #ddd solid 1px;

        .x-button-plain {
            color: #2c3e50;
        }

        &.x-accordion-list-content {
            padding-bottom: .6em;
        }

        .x-field {
            border-top: solid 1px #ccc;
            border-left: solid 1px #ccc;
            border-right: solid 1px #ccc;
            margin-right: .6em;
        }

        .x-field-textarea {
            border-bottom: solid 1px #ccc;
        }

    }
}